body {
  background-color: #333333;
  color: #ffffff;
  font-family: arial;
  margin: 100px;
  margin-top: 200px;
}
a {
  color: #7dbae9;
  text-decoration: none;
}
.window {
  box-sizing: border-box;
  font-size: 1em;
  line-height: 1.6em;
  margin: 14vh auto 0;
  max-width: 600px;
  width: 100%;
}
#big {
  font-size: 24px;
}
